<?xml version="1.0" encoding="UTF-8"?>

<web-app>

    <display-name>@application.name@, v@application.version@</display-name>


    <!-- Default page ====================================================== -->
    <welcome-file-list>
        <welcome-file>@welcome-file@</welcome-file>
    </welcome-file-list>

  
    <!-- Servlets: Greeting Service ======================================== -->

    <servlet>
        <servlet-name>greetServlet</servlet-name>
        <servlet-class>demo.server.GreetingServiceImpl</servlet-class>
    </servlet>
  
    <servlet-mapping>
        <servlet-name>greetServlet</servlet-name>
        <url-pattern>/@gwtModule@/greet</url-pattern>
    </servlet-mapping>

</web-app>
